.Home {
  margin: 15vh 0px;
}

.BabyNav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.BabyNav h3 {
  color: #0d97ff;
  margin: 0 2vh;
  font-size: 1.5vh;
  padding: 4px 4px;
  border-radius: 5px;
}

.BabyNav h3:hover {
  color: white;
  background-color: #0d97ff;
}