.Home {
  background-color: #0d97ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.PiggyContainer {
  background-color: white;
  height: 30vw;
  width: 45vw;
  margin: 8px 8px;
}

.UserContainer {
  height: 30vw;
  width: 45vw;
  margin: 8px 8px;
}

.UserBox {
  background-color: white;
  height: 15vw;
  width: 45vw;
  margin: 8px 8px;
}

.ButtonsBox {
  background-color: white;
  height: 15vw;
  width: 22vw;
  margin: 5px 8px;
}

.ButtonsContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.LineGraphContainer {
  background-color: white;
  height: 30vw;
  width: 45vw;
  margin: 8px 8px;
}

.TransactionsContainer {
  background-color: white;
  height: 30vw;
  width: 45vw;
  margin: 30px 8px;
}