

.backpack {
  height: 60vw;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover; 
  /*width: 90%*/
}
.welcomeHome{
font-family: 'Source Sans Pro', sans-serif;
   background-color: rgb(252, 251, 249);
  color: rgb(51, 62, 72);
  text-align: center;
  line-height: 25px;
  /*margin: 0 auto;*/
  padding: 60px 30px 90px;
  height: 60vw;
  max-height: 100vh;
}

.welcomeHome p{
font-family: 'Source Sans Pro', sans-serif;
text-align: center;
}

.welcomeHome-alt{

   height: 60vw;
  max-height: 100vh;
   background-color: rgb(252, 239, 229);
}


.dash-trailing:after {
    background: #0d97ff;
    display: block;
    content: '';
    height: 6px;
    margin-bottom: 15px;
    width: 40px; 
    margin: 0 auto;
}

.landing-text{
  font-size: 24px;
}

.item-icons-wrapper{
  text-decoration: none;

}

.item-icons {
  width:10%;
  text-decoration: none;
}